body {
    background-color: rgb(251, 252, 250);
    color: rgb(36, 36, 190);
  }
  
  h1 {
    background-color: rgb(247, 248, 249);
    color: rgb(65, 131, 230);
  }
  
  div {
    background-color: rgb(159, 161, 160);
    color: rgb(3, 3, 3);
  }
  
 
  
  